<form class="custom-dialog">
  <div class="form-group">
    <label>{{localize 'FS.Defend'}} {{localize 'FS.DR'}}:</label>
    <input
      type="text"
      name="defensebasedr"
      value="{{defendDR}}"
      placeholder="12"
      data-dtype="Number"
    />
  </div>
  <div class="form-group">
    <label>{{localize 'FS.Modified'}} {{localize 'FS.DR'}}:</label>
    <input
      type="text"
      class="readonly"
      name="defensemodifieddr"
      value=""
      placeholder="12"
      readonly
    />
  </div>
  {{# if drModifiers}}
  <div class="dr-modifier">
    ( {{#each drModifiers}} {{this}} {{#unless @last}},{{/unless}} {{/each}} )
  </div>
  {{/if}}
  <div class="form-group">
    <label>{{localize 'FS.IncomingAttack'}}:</label>
    <input
      type="text"
      name="incomingattack"
      value="{{incomingAttack}}"
      placeholder="1d6"
      data-dtype="String"
    />
  </div>
  {{!-- Attack Type --}}
  <div class="form-group">
    <label>{{ localize "FS.ItemAttackType" }}:</label>
    <select name="attacktype">
      <option value="melee">Melee</option>
      <option value="ranged">Ranged (not gun)</option>
      <option value="gun">Gun</option>
    </select>
  </div>
  {{!-- Advantage or Disadvantage --}}
  <div class="form-group">
    <label>{{localize 'FS.Advantage'}}:</label>
    <select id="advantageselect" name="advantageselect">
      <option value="no-choice">--</option>
      <option value="advantage">Advantage</option>
      <option value="disadvantage">Disadvantage</option>
    </select>
  </div>
  <div class="form-group">
    <label>{{localize 'FS.ItemDamageExplodes'}}:</label>
    <input
      type="checkbox"
      name="damageexplodesflag"
      checked="{{damageExplodesFlag}}"
      data-dtype="Boolean"
    />
  </div>
</form>
