<form id="rest-form" class="custom-dialog rest-dialog">
  <div class="section">
    <div class="subtitle">{{localize 'FS.RestDialogLength'}}</div>
    <div>
      <ul>
        <li>
          <label
            ><input name="rest-length" type="radio" value="short" checked />
            <div>{{localize 'FS.RestDialogLengthShort'}}</div></label
          >
        </li>
        <li>
          <label
            ><input name="rest-length" type="radio" value="long" />
            <div>{{localize 'FS.RestDialogLengthLong'}}</div></label
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="section">
    <div class="subtitle">{{localize 'FS.Miserable'}}</div>
    <div>
      <ul>
        <li>
          <label>
            <input name="miserable" type="checkbox" value="miserable" />
            <div>{{localize 'FS.RestDialogMiserable'}}</div></label>
        </li>
      </ul>
    </div>
  </div>

  <div class="section">
    <div class="subtitle">{{localize 'FS.RestDialogFoodAndDrink'}}</div>
    <div>
      <ul>
        <li>--- After A Scuffle (2 hrs) ---</li>
        <li>
          <label
            ><input name="food-and-drink" type="checkbox" value="snack" />
            <div>{{localize 'FS.RestDialogSnack'}}</div></label
          >
        </li>
        <li>
          <label
            ><input name="food-and-drink" type="checkbox" value="smoke" />
            <div>{{localize 'FS.RestDialogSmoke'}}</div></label
          >
        </li>
        <li>
          <label
            ><input name="food-and-drink" type="checkbox" value="drink" />
            <div>{{localize 'FS.RestDialogDrink'}}</div></label
          >
        </li>
        <li>
          <label
            ><input name="food-and-drink" type="checkbox" value="nap" />
            <div>{{localize 'FS.RestDialogNap'}}</div></label
          >
        </li>
        <li>--- Full Nights Rest (6 hrs) ---</li>
        <li>
          <label
            ><input name="food-and-drink" type="checkbox" value="sleep" />
            <div>{{localize 'FS.RestDialogSleep'}}</div></label
          >
        </li>
        <li>
          <label
            ><input name="food-and-drink" type="checkbox" value="eat" />
            <div>{{localize 'FS.RestDialogEat'}}</div></label
          >
        </li>
        <li>
          <label
            ><input name="food-and-drink" type="checkbox" value="entertainment" />
            <div>{{localize 'FS.RestDialogEntertainment'}}</div></label
          >
        </li>
        <!-- <li>
          <label
            ><input name="food-and-drink" type="checkbox" value="donteat" />
            <div>{{localize 'FS.RestDialogDontEat'}}</div></label
          >
        </li>
        <li>
          <label
            ><input name="food-and-drink" type="checkbox" value="starve" />
            <div>{{localize 'FS.RestDialogStarve'}}</div></label
          >
        </li> -->
      </ul>
    </div>
  </div>

  <div class="button-row">
    <button type="submit" class="button rest-button" name="rest" value="1">
      {{localize 'FS.Rest'}}
    </button>
  </div>
</form>
