<form class="flexcol {{cssClass}}" autocomplete="off">
  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img
      class="profile-img"
      src="{{item.img}}"
      title="{{item.name}}"
      data-edit="img"
    />
    <div class="header-details">
      <h1 class="item-name">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{ localize 'FS.ItemName' }}"
        />
      </h1>
      <div class="item-subtitle">
        <h4 class="item-type">{{item.type}}</h4>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="abilities">{{ localize "FS.Abilities" }}</a>
    <a class="item" data-tab="details">{{ localize "FS.TabDetails" }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Abilities Tab --}}
    <div class="tab" data-group="primary" data-tab="abilities">
      {{editor content=data.data.abilities target="data.abilities" button=true
      owner=owner editable=true}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab" data-group="primary" data-tab="details">
      {{!-- Description --}}
      <div class="form-group">
        <label>{{ localize "FS.Description" }}:</label>
        <textarea name="data.description" rows="8">
{{data.data.description}}</textarea
        >
      </div>

      <br />

      {{!-- Starting silver --}}
      <div class="form-group">
        <label>{{ localize "FS.Silver" }}:</label>
        <input
          type="text"
          name="data.startingSilver"
          value="{{data.data.startingSilver}}"
          placeholder="2d6*10"
          data-dtype="String"
        />
      </div>

      {{!-- Omen Die --}}
      <div class="form-group">
        <label>{{ localize "FS.Omens" }}:</label>
        <input
          type="text"
          name="data.omenDie"
          value="{{data.data.omenDie}}"
          placeholder="1d2"
          data-dtype="String"
        />
      </div>

      {{!-- Starting hit points --}}
      <div class="form-group">
        <label>{{ localize "FS.HitPoints" }}:</label>
        <input
          type="text"
          name="data.startingHitPoints"
          value="{{data.data.startingHitPoints}}"
          placeholder="1d8"
          data-dtype="String"
        />
      </div>

      <br />

      {{!-- Starting abilities --}}
      <div class="form-group">
        <label>{{ localize "FS.AbilityGrit" }}:</label>
        <input
          type="text"
          name="data.startingGrit"
          value="{{data.data.startingGrit}}"
          placeholder="3d6"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label>{{ localize "FS.AbilityLuck" }}:</label>
        <input
          type="text"
          name="data.startingLuck"
          value="{{data.data.startingLuck}}"
          placeholder="3d6"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label>{{ localize "FS.AbilitySlick" }}:</label>
        <input
          type="text"
          name="data.startingSlick"
          value="{{data.data.startingSlick}}"
          placeholder="3d6"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label>{{ localize "FS.AbilityWits" }}:</label>
        <input
          type="text"
          name="data.startingWits"
          value="{{data.data.startingWits}}"
          placeholder="3d6"
          data-dtype="String"
        />
      </div>

      <br />

      {{!-- Starting equipment --}}
      <div class="form-group">
        <label>{{ localize "FS.WeaponTable" }}:</label>
        <input
          type="text"
          name="data.weaponTableDie"
          value="{{data.data.weaponTableDie}}"
          placeholder="1d10"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label>{{ localize "FS.ArmorTable" }}:</label>
        <input
          type="text"
          name="data.armorTableDie"
          value="{{data.data.armorTableDie}}"
          placeholder="1d4"
          data-dtype="String"
        />
      </div>
      <div class="form-group">
        <label>{{ localize "FS.Items" }}:</label>
        <textarea name="data.startingItems" rows="4">
{{data.data.startingItems}}</textarea
        >
      </div>
      <div class="form-group">
        <label>{{ localize "FS.Rolls" }}:</label>
        <textarea name="data.startingRolls" rows="4">
{{data.data.startingRolls}}</textarea
        >
      </div>
    </div>
  </section>
</form>
